* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  position: sticky;
  top: 0px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1rem;
  gap: 2rem;
  font-size: 3rem;
}

.nav ul {
  padding: 0%;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover {
  background-color: gray;
}

.nav li:active {
  background-color: rgb(197, 174, 174);
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  border: 1px solid black;
  height: 90vh;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  border: 1px solid black;
  height: 90vh;
}


.homeContainer ul {
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 1em;
  row-gap: 1em;
  
}
.product {
  text-align: center;
  list-style: none;

  
}
.product img {
  width: 50%;
}
.productId img {
  height: 70vh;
  
}

.productId {
  display: flex;
  column-gap: 2em;
  row-gap: 2em;
  text-align: center;
}

.productInfo {
  text-align: center;
  
}

.category {
  display: flex;
  justify-content: space-evenly;
  column-gap: 2em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.category h1{
  font-size: x-large;
  
}
.category h1:hover {
  background-color: darkgray;
}

.productInfo button {
  font-size: large;
}
.user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  border: 1px solid black;
  height: 90vh;
  color: darkgray
}
.span{
  color: black;
}
.url {
  display: flex;
  justify-content:flex-start;
  column-gap: 2em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.url h1 {
  font-size: x-large;
}
.sum img{
  width: 100px;
 
}
.sum{
  display: flex;
  border: 1px solid black;
  margin-top: 20px;
}